USE [Pedidos360Db]
GO
/****** Objeto: Table [__EFMigrationsHistory] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [AspNetRoleClaims] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [AspNetRoles] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [AspNetUserClaims] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [AspNetUserLogins] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [AspNetUserRoles] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [AspNetUsers] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [AspNetUserTokens] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [Categorias] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Clientes] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Direccion] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [PedidoDetalles] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PedidoDetalles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PedidoId] [int] NOT NULL,
	[ProductoId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnit] [decimal](18, 2) NOT NULL,
	[Descuento] [decimal](5, 2) NOT NULL,
	[ImpuestoPorc] [decimal](5, 2) NOT NULL,
	[TotalLinea] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PedidoDetalles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Pedidos] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pedidos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Impuestos] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [Productos] Fecha de script: 15/7/2026 14:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[ImpuestoPorc] [decimal](5, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImagenUrl] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260706050558_InitialCreate', N'10.0.9')
GO
INSERT [AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'17058949-5ef6-42cb-b652-edbdbfab655c', N'Admin', N'ADMIN', N'16c1791e-ebd0-4994-895d-9c3ab43af729')
INSERT [AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'b64c27ac-697a-41e9-aebe-2c633650e5d5', N'Ventas', N'VENTAS', N'0d4ee292-ad7a-4e4f-9568-d52ace2bb16f')
INSERT [AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd1af1bfb-caff-4abb-ae85-91f588a4bc85', N'Operaciones', N'OPERACIONES', N'4709bc6c-2358-425c-9ec9-efc7303e9346')
GO
INSERT [AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'eb16309f-53c3-457c-b2e2-805c0d16b6b8', N'17058949-5ef6-42cb-b652-edbdbfab655c')
INSERT [AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'25cdeb3b-1185-483c-8151-04a839450285', N'b64c27ac-697a-41e9-aebe-2c633650e5d5')
INSERT [AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6b098e65-9c64-4bf3-87d9-b0c56a4d6195', N'd1af1bfb-caff-4abb-ae85-91f588a4bc85')
GO
SET IDENTITY_INSERT [Categorias] ON 

INSERT [Categorias] ([Id], [Nombre]) VALUES (1, N'Pasteles y Tortas')
INSERT [Categorias] ([Id], [Nombre]) VALUES (2, N'Reposteria Individual')
SET IDENTITY_INSERT [Categorias] OFF
GO
SET IDENTITY_INSERT [Clientes] ON 

INSERT [Clientes] ([Id], [Nombre], [Cedula], [Correo], [Telefono], [Direccion]) VALUES (1, N'Juan Perez', N'001-1111111-1', N'juan.perez@example.com', N'809-555-0001', N'Calle Primera #1, Santo Domingo')
INSERT [Clientes] ([Id], [Nombre], [Cedula], [Correo], [Telefono], [Direccion]) VALUES (2, N'Maria Gomez', N'001-2222222-2', N'maria.gomez@example.com', N'809-555-0002', N'Av. Central #22, Santiago')
INSERT [Clientes] ([Id], [Nombre], [Cedula], [Correo], [Telefono], [Direccion]) VALUES (3, N'Carlos Rodriguez', N'001-3333333-3', N'carlos.rodriguez@example.com', N'809-555-0003', N'Calle Duarte #33, La Vega')
SET IDENTITY_INSERT [Clientes] OFF
GO
SET IDENTITY_INSERT [PedidoDetalles] ON 

INSERT [PedidoDetalles] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnit], [Descuento], [ImpuestoPorc], [TotalLinea]) VALUES (1, 1, 1, 2, CAST(28.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(13.00 AS Decimal(5, 2)), CAST(64.41 AS Decimal(18, 2)))
INSERT [PedidoDetalles] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnit], [Descuento], [ImpuestoPorc], [TotalLinea]) VALUES (2, 1, 8, 6, CAST(3.25 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(8.00 AS Decimal(5, 2)), CAST(21.06 AS Decimal(18, 2)))
INSERT [PedidoDetalles] ([Id], [PedidoId], [ProductoId], [Cantidad], [PrecioUnit], [Descuento], [ImpuestoPorc], [TotalLinea]) VALUES (3, 2, 3, 1, CAST(32.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)), CAST(13.00 AS Decimal(5, 2)), CAST(36.16 AS Decimal(18, 2)))
SET IDENTITY_INSERT [PedidoDetalles] OFF
GO
SET IDENTITY_INSERT [Pedidos] ON 

INSERT [Pedidos] ([Id], [ClienteId], [UsuarioId], [Fecha], [Subtotal], [Impuestos], [Total], [Estado]) VALUES (1, 1, N'25cdeb3b-1185-483c-8151-04a839450285', CAST(N'2026-07-15T13:40:18.4993646' AS DateTime2), CAST(76.50 AS Decimal(18, 2)), CAST(8.97 AS Decimal(18, 2)), CAST(85.47 AS Decimal(18, 2)), N'Confirmado')
INSERT [Pedidos] ([Id], [ClienteId], [UsuarioId], [Fecha], [Subtotal], [Impuestos], [Total], [Estado]) VALUES (2, 2, N'25cdeb3b-1185-483c-8151-04a839450285', CAST(N'2026-07-15T13:40:18.4995841' AS DateTime2), CAST(32.00 AS Decimal(18, 2)), CAST(4.16 AS Decimal(18, 2)), CAST(36.16 AS Decimal(18, 2)), N'Confirmado')
SET IDENTITY_INSERT [Pedidos] OFF
GO
SET IDENTITY_INSERT [Productos] ON 

INSERT [Productos] ([Id], [Nombre], [CategoriaId], [Precio], [ImpuestoPorc], [Stock], [ImagenUrl], [Activo]) VALUES (1, N'Torta de Chocolate', 1, CAST(28.50 AS Decimal(18, 2)), CAST(13.00 AS Decimal(5, 2)), 12, N'/images/placeholder.svg', 1)
INSERT [Productos] ([Id], [Nombre], [CategoriaId], [Precio], [ImpuestoPorc], [Stock], [ImagenUrl], [Activo]) VALUES (2, N'Torta Tres Leches', 1, CAST(26.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(5, 2)), 10, N'/images/placeholder.svg', 1)
INSERT [Productos] ([Id], [Nombre], [CategoriaId], [Precio], [ImpuestoPorc], [Stock], [ImagenUrl], [Activo]) VALUES (3, N'Cheesecake de Fresa', 1, CAST(32.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(5, 2)), 8, N'/images/placeholder.svg', 1)
SET IDENTITY_INSERT [Productos] OFF
GO
ALTER TABLE [AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [PedidoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDetalles_Pedidos_PedidoId] FOREIGN KEY([PedidoId])
REFERENCES [Pedidos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [PedidoDetalles] CHECK CONSTRAINT [FK_PedidoDetalles_Pedidos_PedidoId]
GO
ALTER TABLE [PedidoDetalles]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDetalles_Productos_ProductoId] FOREIGN KEY([ProductoId])
REFERENCES [Productos] ([Id])
GO
ALTER TABLE [PedidoDetalles] CHECK CONSTRAINT [FK_PedidoDetalles_Productos_ProductoId]
GO
ALTER TABLE [Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [AspNetUsers] ([Id])
GO
ALTER TABLE [Pedidos] CHECK CONSTRAINT [FK_Pedidos_AspNetUsers_UsuarioId]
GO
ALTER TABLE [Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [Clientes] ([Id])
GO
ALTER TABLE [Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes_ClienteId]
GO
ALTER TABLE [Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [Categorias] ([Id])
GO
ALTER TABLE [Productos] CHECK CONSTRAINT [FK_Productos_Categorias_CategoriaId]
GO
